@font-face {
    font-family: "windsor";
    src: url("Windsor.ttf");
}

table {
    padding: 14px 16px;
}

p {
    font-family: "windsor";
    font-size: 40px;
}

td {
    text-align: center;
    font-size: 40px;
    padding: 14px 16px;
    
}