@font-face {
    font-family: "windsor";
    src: url("Windsor.ttf");
}

p {
    font-family: "windsor";
    font-size: 30px;
}

td {
    text-align: center;
    font-size: 40px;
    
}

input[type="button"] {
    width: 100%;
    background-color: darkslategray;
    color:beige;
    font-size: 24px;
    font-family: "windsor";

}